<div class="container">
  <div class="row">
    <div class="col">

      <!-- <a href="/actualiza"> -->
        {{indice+1}}. {{empleadoDeLista.nombre}} {{empleadoDeLista.apellido}} {{empleadoDeLista.cargo}} {{empleadoDeLista.salario}}
      <!-- <a [routerLink]="['/actualiza', indice]">Actualizar</a> -->
      <a [routerLink]="['/actualiza', indice]" [queryParams]="{accion: '1'}">Actualizar</a>
      &nbsp;&nbsp;
      <a [routerLink]="['/actualiza', indice]" [queryParams]="{accion: '2'}">Eliminar</a>

    </div>

    <app-caracteristicas-empleado-c (caracteristicasEmpleados)="agregarCaracteristica($event)"></app-caracteristicas-empleado-c>

    <ul style="list-style: none;">
      <li *ngFor="let caracteristica of arrayCaracteristicas">{{caracteristica}}</li>
    </ul>

  </div>
</div>
