<p>empleado works!</p>

<p>Edad del empleado: {{edad > 18 ? 'Mayor de edad' : 'Menor de edad'}}</p>

<p>Empresa del empleado: {{empresa.value}}</p>
Introduce la empresa: <input type="text" #empresa>
<input type="button" value="Boton" (click)="llamaEmpresa(empresa.value)">

<p>Empresa del empleado: {{empresa2.value}}</p>
Introduce la empresa (keyup): <input type="text" #empresa2 (keyup)="0">

<br>
<!-- En HTML las propiedades disabled y checked no se les asignan valores pero al usar Property Binding
toma valores booleanos por lo que se puede usar operador de asignacion (=) y asingar true or false -->
<input type="text" disabled>
<input type="checkbox" checked>
<br>
<input type="text" [disabled]="habilitacionCuadro">
<input type="checkbox" [checked]="usuRegistrado">
{{getRegistroUsuario()}}

<br><br>
{{textoDeRegistro}}
<br>
Registrado: <input type="checkbox" (click)="setUsuarioRegistrado()">

<br><br>
Registrado: <input type="radio" value="si" name="nRegistro" (click)="setUsuarioRegistrado2($event)">
No registrado: <input type="radio" value="no" name="nRegistro" (click)="setUsuarioRegistrado2($event)">
