<h1 style="text-align: center;">{{title}}</h1>

<form>
  <!-- Dos formas de leer desde input y mostrarlo en otra parte del componente -->
  <input type="text" #nombre><br>
  <input type="text" name="apellido" [(ngModel)]="apellido"><br>
  <input type="text" name="cargo" [(ngModel)]="cargo"><br>
  <input type="button" (click)="registrarUsuario()" value="Registrar"><br>
</form>

<!-- ngIf -->
<p *ngIf="registrado">{{mensaje}} con el nombre de {{nombre.value}} {{apellido}}</p>

<!-- ngIf + else -->
<p *ngIf="registrado else noRegistrado">{{mensaje}} con el nombre de {{nombre.value}}
  <span [ngClass]="{paraApellido:apellido=='ugarte'}">{{apellido}}</span>
  con cargo <span [ngStyle]="{color: cargo=='director' ? 'red' : 'black'}">{{cargo}}</span></p>

<ng-template #noRegistrado>
  <p>Nadie registrado</p>
</ng-template>

<!-- ngFor -->
<ul>
  <li *ngFor="let entrada of entradas">{{entrada.titulo}}</li>
</ul>

<ul>
  <li *ngFor="let entrada of entradas; let i=index"><span style="font-weight: bold;">{{entrada.titulo}}</span>
  . Numero: {{i+1}}</li>
</ul>
